{% for post in recent_posts %}
    <div class="thumb-latest-posts">
        <div class="media">
            <div class="media-left">
                <a href="{{ post.get_absolute_url }}" class="popular-img">
                    <img src="{{ post.get_image }}" alt="">
                    <div class="p-overlay"></div>
                </a>
            </div>
            <div class="p-content">
                <a href="{{ post.get_absolute_url }}" class="text-uppercase">{{ post.title }}</a>
                <span class="p-date">{{ post.upd_date|date:"M d, Y" }}</span>
            </div>
        </div>
    </div>
{% endfor %}