{% extends "blog/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}{{ request.user.username|capfirst }}{% endblock %}

{% block content %}
<div class="col-sm-9">
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message.tags|capfirst }}!</strong> {{ message }}
            </div>   
        {% endfor %}
    {% endif %}
    <table class="table table-bordered table-striped">
        <caption>{{ request.user.first_name|capfirst }} {{ request.user.last_name|capfirst }}</caption>
        <tbody>
            <tr><td><b>ID</b></td><td>{{ request.user.id }}</td></tr>
            <tr><td><b>Username</b></td><td>{{ request.user.username }}</td></tr>
            <tr><td><b>First_name</b></td><td>{{ request.user.first_name }}</td></tr>
            <tr><td><b>Last_name</b></td><td>{{ request.user.last_name }}</td></tr>
            <tr><td><b>E-mail</b></td><td>{{ request.user.email }}</td></tr>
            <tr><td><b>Date joined</b></td><td>{{ request.user.date_joined }}</td></tr>
            <tr><td><b>Last login</b></td><td>{{ request.user.last_login }}</td></tr>
        </tbody>
    </table>
    
    <a href="{% url 'accounts:update' %}" class="btn btn-primary">Update</a>
    <a href="{% url 'accounts:change_password' %}" class="btn btn-warning">Change password</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">Delete</button>

    <!-- Modal -->
    <div class="modal fade" id="delete" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Delete user</h4>
                </div>
                <div class="modal-body">
                  <p>{{ request.user.username }}</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'accounts:delete' %}" method="post">
                        {% csrf_token %}
                        {% buttons %}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
</div>
{% endblock %}
