{% extends "blog/base.html" %}
{% load bootstrap3 %}

{% block title %}List My Posts{% endblock %}

{% block content %}
<div class="col-sm-9">
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message.tags|capfirst }}!</strong> {{ message }}
            </div>   
        {% endfor %}
    {% endif %}
    {% if request.user.post_set.all %}
        <table class="table table-bordered table-hover">
            <caption>List of My Posts</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th><span class="glyphicon glyphicon-eye-open"></span></th>
                    <th><span class="glyphicon glyphicon-comment"></span></th>
                    <th><span class="glyphicon glyphicon-thumbs-up"></span></th>
                    <th><span class="glyphicon glyphicon-thumbs-down"></span></th>
                    <th><span class="glyphicon glyphicon-star"></span></th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for post in request.user.post_set.all %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td><a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></td>
                    <td>{{ post.views }}</td>
                    <td>{{ post.comments }}</td>
                    <td>{{ post.likes }}</td>
                    <td>{{ post.dislikes }}</td>
                    <td>{{ post.rating }}</td>
                    <td><a href="{% url 'blog:post_update' post.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td>
                      <a data-toggle="modal" data-target="#postDelete"><span class="glyphicon glyphicon-trash"></span></a>
                      <!-- Modal-->
                      <div class="modal fade" id="postDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                        <div class="modal-dialog">
                          <div class="modal-content">
                            
                            <div class="modal-header">
                              <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                            </div>

                            <div class="modal-body">
                              You're about to delete {{ post.title }}. Please confirm.
                            </div>

                            <div class="modal-footer">
                              <form action="{% url 'blog:post_delete' post.id %}" method="post" role="form" class="from">
                                {% csrf_token %}
                                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-danger" type="submit">Delete</button>
                              </form>
                            </div>

                          </div> <!-- /.modal-content -->
                        </div> <!-- /.modal-dialog -->

                      </div> <!-- /.modal -->
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br>
        <div class="panel panel-info">
            <div class="panel-heading">
                You do not have any posts!
            </div>
        </div>
    {% endif %}
        <a href="{% url 'blog:post_create' %}" class="btn btn-success">Create</a>
    </div>
{% endblock %}
