{% extends "blog/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}Update account{% endblock %}

{% block content %}
<div class="col-sm-9">
    <div class="container">
        <h2>Update account: {{ request.user.username }}</h2><br>
        <form action="" method="post" class="form" role="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <a href="{% url 'accounts:profile' %}" class="btn btn-link">Cancel</a>
                <button type="submit" class="btn btn-success">Submit</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
