{% extends "blog/layouts/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}{{ post.title|capfirst }}{% endblock %}

{% block content %}
  <h3>{{ post.title|capfirst }}</h3>
  <h5><span class="glyphicon glyphicon-time"></span> Post by {{ post.author|title }}, {{ post.upd_date|date:"M d, Y" }}</h5>
  
  {% for tag in post.tags.all %}
    <a href="{% url 'blog:tag_detail' tag.slug %}" class="btn btn-{{ tag.color }} btn-xs">{{ tag.title }}</a>
  {% endfor %}
  
  <br><br>

  <p>{{ post.text }}</p>
  <br>
  <h4>
    <span class="glyphicon glyphicon-eye-open"></span> {{ post.views }}
    &nbsp;&nbsp;
    <a href="{% url 'blog:post_like' post.slug %}" style="text-decoration: none;">
      <span class="glyphicon glyphicon-thumbs-up"></span> {{ post.likes|default:"LIKE" }}
    </a>
    &nbsp;&nbsp;
    <a href="{% url 'blog:post_dislike' post.slug %}" style="text-decoration: none;">
      <span class="glyphicon glyphicon-thumbs-down"></span> {{ post.dislikes|default:"DISLIKE" }}
    </a>
    &nbsp;&nbsp;
    <span class="glyphicon glyphicon-star"></span> {{ post.rating }}
  </h4>
  <hr>
  <h4>{{ post.comments }} Comments</h4>
  <form action="{% url 'blog:comment_add' post.slug %}" method="post" class="form" role="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  
  <br><br>
      
  <div class="row">
    {% for comment in post.comment_set.all %}
      <div class="col-sm-2 text-center">
        <img src="{% static 'img/avatar-tiny.jpg' %}" class="img-circle" height="65" width="65" alt="Avatar">
      </div>
      <div class="col-sm-10">
        <h4>{{ comment.author|title }} <small>{{ comment.pub_date|date:"M d, Y, P" }}</small></h4>
        <p>{{ comment.text }}</p>
        <br>
      </div>
    {% endfor %}
  </div>
{% endblock %}
