{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>{{ title }} | Simple Blog</title>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    
    <div class="col-sm-3 sidenav">
        {% include 'blog/sidebar.html' %}
    </div>
      
    <div class="col-sm-9">
        {% include 'blog/messages.html' %}
        <h3>{{ title }}</h3>    
        {% block content %}{% endblock %}
    </div>
    
  </div><!-- /.row.content -->
</div> <!-- /.container-fluid -->
  
{% include 'blog/footer.html' %}
    
</body>
</html>
