{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Simple Blog{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  {% url 'blog:index' as idx %}
  {% url 'blog:post_add' as pad %}
  {% url 'blog:tags' as tgs %}
  {% url 'blog:most_commented' as mcm %}
  {% url 'blog:last_commented' as lcm %}
  {% url 'blog:most_viewed' as mvd %}
  {% url 'blog:rating' as rtg %}

  {% url 'accounts:login' as log %}

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <h4><a href="{{ idx }}">John's Blog</a></h4>
        <ul class="nav nav-pills nav-stacked">
          <li {% if request.path == idx %}class="active"{% endif %}><a href="{{ idx }}">Home</a></li>
          <li {% if request.path == mcm %}class="active"{% endif %}><a href="{{ mcm }}">Most commented</a></li>
          <li {% if request.path == lcm %}class="active"{% endif %}><a href="{{ lcm }}">Last commented</a></li>
          <li {% if request.path == mvd %}class="active"{% endif %}><a href="{{ mvd }}">Most viewed</a></li>
          <li {% if request.path == rtg %}class="active"{% endif %}><a href="{{ rtg }}">Rating</a></li>
          <li {% if request.path == tgs %}class="active"{% endif %}><a href="{{ tgs }}">Tags</a></li>
          <li {% if request.path == pad %}class="active"{% endif %}><a href="{{ pad }}">New Post</a></li>
          
          <br>
          
          {% if user.is_authenticated %}
            <li><a>Hello, {{ user.username|capfirst }}!</a></li>
            <li><a href="{% url 'accounts:logout' %}">Sign Out</a></li>
          {% else %}
            <li {% if request.path == log %}class="active"{% endif %}><a href="{{ log }}">Sing In</a></li>
          {% endif %}

        </ul>

        <br>

        <form action="{% url 'blog:index' %}" class="form" role="form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" value="{{ query|default:"" }}" placeholder="Search Blog..">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>

      </div>

      {% block content %}{% endblock %}
  
    </div>
  </div>
  
  <footer class="container-fluid">
    <p>Footer Text</p>
  </footer>
</body>
</html>
