{% extends "blog/base.html" %}

{% block content %}
    <div class="col-sm-9">
        {% for post in post_list %}
            <h4><small>RECENT POSTS</small></h4>
            <hr>
            <h2><a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></h2>
            <h5><span class="glyphicon glyphicon-time"></span> Post by {{ post.author|title }}, {{ post.upd_date|date:"M d, Y" }}</h5>
            {% for tag in post.tags.all %}
                <a href="{% url 'blog:tag_detail' tag.slug %}" 
                   class="btn btn-{{ tag.color }} btn-xs">{{ tag.title }}</a>
            {% endfor %}
            <br><br>
            <p>{{ post.text }}</p>
            <br><br>
        {% empty %}
            <br>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>List of Posts is Empty!</h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}