{% extends "blog/base.html" %}
{% load bootstrap3 %}

{% block title %}Add new post{% endblock %}

{% block content %}
    
    <div class="col-sm-9">
        <h1>Add new post</h1>
        <form action="{% url 'blog:post_add' %}" method="post" class="form" role="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">Submit</button>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}