{% load widgets %}
<div class="primary-sidebar">
    <aside class="widget news-letter">
        <h3 class="widget-title text-uppercase text-center">Get Newsletter</h3>
        <form action="#">
            <input type="email" placeholder="Your email address">
            <input type="submit" value="Subscribe Now"
                   class="text-uppercase text-center btn btn-subscribe">
        </form>
    </aside>
    <aside class="widget">
        <h3 class="widget-title text-uppercase text-center">Popular Posts</h3>
        {% popular_posts_widget %}
    </aside>
    <aside class="widget">
        <h3 class="widget-title text-uppercase text-center">Featured Posts</h3>
        {% featured_posts_widget %}
    </aside>
    <aside class="widget pos-padding">
        <h3 class="widget-title text-uppercase text-center">Recent Posts</h3>
        {% recent_posts_widget %}
    </aside>
    <aside class="widget border pos-padding">
        <h3 class="widget-title text-uppercase text-center">Categories</h3>
        {% category_widget %}
    </aside>
</div>
